<!DOCTYPE html>  
<html lang="ru">  
<head>  
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>Task 1</title>
	<link rel="stylesheet" href="/static/styles.css">
</head>  
<body>

	<article class="all-browsers">
		<h2>Task 1. Load/Upload Data</h2>
		<h3>Perform actions sequentially</h3>

		<article class="browser">
			<form id="run-form-1" method="POST" action="/create_tables">
				<h4>1. Create tables in DB</h4> 
				<button type="submit">Create</button>  
			</form>  
			<div id="script-result-1"></div>
		</article>

		<article class="browser">
			<form method="POST">
				<h4>2. Load Data to DB</h4>
				<h5>Write Student and Rooms file path (d - as default path 'data/')</h5>
				<input type="text" name="students_path" required placeholder="student path">
				<input type="text" name="rooms_path" required placeholder="rooms path"> 
				<input type="submit" value="Submit">  
			</form>  
			<h2>{{ result }}</h2> 
		</article>

		<article class="browser">
			<form id="run-form-2" method="POST" action="{{ url_for('upload_data') }}"> 
				<h4>3. Upload Data to file</h4> 
				<label for="format"> Choose data saving format:</label>
				<select id="format" name="file_format">
					<option value="json">JSON</option>
					<option value="xml">XML</option>
				</select>
				<button type="submit">Upload</button>  
			</form>  
			<div id="script-result-2"></div> 
		</article>
	  </article>

	<footer>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
		<a href="https://github.com/VladimirValitsky/inno_t1.git"  target="_blank"><i class="fab fa-github" style='font-size:30px'></i></a>
		<br></br>
		<p>Copyright © 2025 Vladimir Valitski - Innowise</p>
	</footer>

    <script>   
        async function runScript(formId, resultDivId) {  
            const form = document.getElementById(formId);
			const formData = new FormData(form); 
            const response = await fetch(form.action, {  
                method: 'POST',
				body: formData
            });
			if (response.redirected) {  
                window.location.href = response.url;
            } else {  
                const message = await response.text(); 
				document.getElementById(resultDivId).innerText = message;
            }  
        }  
        
		document.getElementById('run-form-1').onsubmit = function(event) {  
            event.preventDefault();
            runScript('run-form-1', 'script-result-1');  
        };  
        
        document.getElementById('run-form-2').onsubmit = function(event) {  
            event.preventDefault();
            runScript('run-form-2', 'script-result-2');  
        };  
    </script>  
</body>  
</html>  